body {
    margin: 0;
    background-color: #f4f6fb;
    font-family: "Plus Jakarta Sans", sans-serif;
}

header {
    padding: 16px 24px;
    background-color: white;
    box-shadow: 0 2px rgba(212, 212, 212, 0.4);
}

header .logo {
    width: 120px;
}

.section-login {
    width: 36%;
    margin: 64px auto;
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 12px 16px 4px rgba(212, 212, 212, 0.4);
    background-color: white;
}

.section-login .container {
    padding: 48px 32px;
    text-align: center;
}

.section-login h1 {
    font-size: 28px;
    margin: 0;
}

.section-login p {
    margin-top: 8px;
    color: #515151;
}

.section-login form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.section-login form label {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    text-align: left;
    font-size: 14px;
}

form input {
    margin-top: 4px;
    padding: 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    font-size: 16px;
}

form button {
    margin-top: 16px;
}

form .text-error {
    margin-top: 2px;
    font-size: 12px;
    color: red;
    opacity: 0;
}

.btn {
    padding: 12px;
    background-color: rgb(57, 180, 74);
    opacity: 0.85;
    border: 1px solid rgb(57, 180, 74);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
    transition: 400ms;
}

@media(max-width: 1000px) {
    .section-login {
        width: 80%;
    }
}

@media(max-width: 640px) {
    .section-login {
        width: 100%;
        margin: 32px 0;
        box-shadow: 0 0;
    }
}